# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
*.log

# Tailwind build outputs
src/output.css
public/output.css

# Env files
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
